*{
    margin: 0;
    padding: 0;
}

body{
    color: white;
    font-family: 'Lato', sans-serif;
}

.flex{
    display: flex;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.nav-bar{
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    z-index: 1;
    position: fixed;
    padding: 16px 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.nav-bar a{
    color: black;
    text-decoration: none;
    padding: 16px;
}
.right{
    float: right;
}

.nav-right{
    display: none;
    float: right;
    padding: 6px;
    border: 0;
    background-color: white;
}
#left-animate{
    display: none;
    background-color: black;
    height: 100%;
    width: 200px;
    z-index: 2;
    position: fixed;
}

#left-animate button{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 19px;
    background-color: transparent;
    color: white;
    border: 0;
}

#left-animate a{
    display: block;
    padding: 10px;
    font-size: 19px;
    background-color: transparent;
    color: white;
    border: 0;
    text-align: center;
    text-decoration: none;
}

#left-animate button:hover, #left-animate a:hover{
    background-color: lightgrey;
}
.lines{
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 4px;
}
a:hover{
    background-color: lightgray;
}

#section-1{
    position: relative;
}
#section-1 img{
    width: 100%;
}

.center{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    padding: 30px;
}

#section-1 h1{
    font-size: 60px;
    letter-spacing: 2.5px;
    margin-bottom: 60px;
}
#section-1 h4{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-bottom: 40px;
}

#section-1 button{
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.6;
    letter-spacing: 1.7px;
}
.bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 30px;
}
.bottom p{
    font-size: 20px;
    font-weight: 400;
    opacity: 0.6;
    letter-spacing: 1.7px;
    
}
.h1-heading{
    margin-top: 75px;
    color: black;
    font-weight: 600;
    text-align: center;
}
.h4-heading{
    margin-top: 25px;
    color: black;
    font-weight: 600;
    text-align: center;
}

.fourth{
    width: 24.99%;
    padding: 10px;
    justify-items: center;
    text-align: center;
    color: black;
}

.fourth i{
    font-size: 65px;
}

.fourth h3{
    margin: 30px 0;
    font-weight: 500;
}

.fourth p{
    line-height: 25px;
}

#section-3{
    margin-top: 30px;
    background-color: #efefef;
}

.half{
    width: 49.99%;
    margin: 100px 10px;
}

.half img{
    width: 100%;
}

.half h3{
    color: black;
    font-size: 25px;
    margin-bottom: 30px;
}

.half p{
    color: black;
    line-height: 25px;
    padding-right: 90px;
    font-weight: 600;
    margin-bottom: 30px;
}

.half a{
    padding: 16px;
    color: white;
    background-color: black;
    cursor: pointer;
    border: 0;
    letter-spacing: 2px;
    text-decoration: none;
}

.half a:hover{
    background-color: lightgray;
    color: black;
}

.fourth-1{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    width: 24.99%;
    box-sizing: border-box;
    margin: 10px;
    color: black;
}

.fourth-1 img{
    width: 100%;
    filter: grayscale(59%);
}

.fourth-1 div{
    padding: 16px;
}
        
.fourth-1 div h2{
    font-size: 30px;
}
.p-1{
    opacity: 0.5;
    margin: 16px 0;
}
.fourth-1 div p{
    line-height: 26px;
}
.fourth-1 div button{
    width: 100%;
    border: 0;
    padding: 8px 16px;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
}

.fourth-1 div button:hover{
    background-color: lightgray;
}

#section-5{
    background-color: #616161;
    margin-top: 100px;
}

#section-5>div{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.fifth{
    width: 24.99%;
    box-sizing: border-box;
    color: white;
    padding: 34px;
    text-align: center;
    font-size: 26px;
}

#section-6>div{
    flex-wrap: wrap;
    box-sizing: border-box;
}

.eight{
    margin: 10px;
    box-sizing: border-box;
    width: 22.99%;
}
.eight img{
    width: 100%;
}
.eight img:hover{
    opacity: 0.6;
}

#section-7{
    background-color: #efefef;
    margin-top: 90px;
}

#section-7>div{
    margin-bottom: 0;
}

#section-7 .half{
    box-sizing: border-box;
}

#section-7 p{
    font-weight: 500;
}

#section-7 h5{
    color: black;
    font-size: 15px;
    margin: 15px 0;
    letter-spacing: 2.5px;
}

.progress{
    background-color: grey;
    width: 100%;
}

.progress-bar{
    text-align: center;
    background-color: #616161;
    padding: 4px 0;
}

#bar-90{
    width: 90%;
}
#bar-85{
    width: 85%;
}
#bar-75{
    width: 75%;
}

#section-8{
    background-color: #616161;
}

#section-8>div{
    margin-bottom: 0px;
}

#section-8 h1{
    padding-top: 100px;
    margin-top: 0;
    color: white;
    font-size: 24px;
}

#section-8 h4{
    color: white;
    font-size: 16px;
}

.third{
    width: 33.3%;
    box-sizing: border-box;
    text-align: center;
    margin: 40px 10px 100px;
    background-color: #eaeaea;
    font-size: large;
}

.third h5{
    background-color: white;
    padding: 32px 0;
    background-color: black;
    font-size: 20px;
}

.third p{
    padding: 16px 0;
    color: black;
    border-bottom: 1px solid lightgray;
    background-color: white;
}
.third .span{
    font-size: 26px;
    opacity: 1;
}

.third span{
    background-color: white;
    margin: 10px 0;
    color: black;
    display: block;
    opacity: 0.5;
}
.third .red{
    background-color: red;
    padding: 48px 0;
    opacity: 0.8;
}

#second{
    margin: 24px 10px 84px;
}

.third:hover{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.third button{
    margin: 16px 0;
    padding: 16px;
    background-color: black;
    color: white;
    border: 0;
    font-size: 16px;
    letter-spacing: 2.4px;
}

.third button:hover{
    background-color: rgb(192, 192, 192);
    border: 0;
    color: black;
}

#section-9{
    background-color: #efefef;
}

#section-9 h1{
    margin-top: 0;
    padding-top: 120px;
    font-size: 24px;
}
#div-01{
    padding: 16px 0;
}
#section-9 p{
    color: black;
    font-size: 16px;
}
#section-9 p i{
    font-size: 36px;
    padding: 10px 20px 10px 0;
}

#section-9 div, form{
    margin: 0 16px;

}
#section-9 div img{
    width: 100%;
    margin: 75px 0;
    filter: saturate(5%);
}

#section-9 form input{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid rgb(207, 206, 206);
    margin: 8px 0;
    box-sizing: border-box;
}

#section-9 button{
    background-color: black;
    color: white;
    border: 0;
    padding: 10px 16px;
    margin: 10px 0;
    font-size: 16px;
}

#section-10{
    background-color: black;
    text-align: center;
    padding: 60px;
}

#section-10>a{
    color: black;
    background-color: #efefef;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

#section-10 p{
    margin: 30px 0 0;
    font-size: 16px;
    letter-spacing: 2.5px;
}

#section-10 p a{
    color: white;

}
#section-10 p i{
    font-size: 28px;
}

#modal01{
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    color: white;
}

#closeModal{
    position: absolute;
    right: 0;
    top: 0;
    padding: 24px;
}

#closeModal button{
    background-color: black;
    color: white;
    border: 0;
    font-size: 24px;
    padding: 10px 16px;
}

#closeModal button:hover{
    background-color: lightgrey;
}

#modal02{
    text-align: center;
    padding: 64px 0;
}

#img01{
    width: 400px;
}
#caption01{
    padding: 20px 0;
    font-size: 25px;
    font-family: monospace;
}


@media screen and (max-width:1015px){
    .eight{
        width: 45.99%;
    }
}

@media screen and (max-width:620px){
    #section-4>div{
        display: block;
    }
    .nav-bar{
        padding: 0;
    }
    .nav-right{
        display: block;
    }
    .nav-bar a{
        padding: 12px;
        display: inline-flex;
    }

    .right{
        display: none;
    }

    .fifth{
        width: 100%;
    }

    .third{
        width: 94%;
        margin-bottom: 0;
    }
    #second{
        margin-bottom: 0;
        margin-top: 40px;
    }

    .fourth-1{
        width: 96.99%;
        margin: 20px 10px;
    }
    
    .eight{
        width: 95.99%;
        margin: 20px 10px;
    }
    
    .flex{
        display: block;
    }
    
    .fourth{
        width: 93.99%;
    }
    
    .half{
        width: 95.99%;
        margin: 20px 10px 0;
        padding: 30px;
        box-sizing: border-box;
        text-align: center;
    }
    .half p{
        padding-right: 0;
    }

    #section-1 h1{
        font-size: 28px;
        letter-spacing: 2px;
        margin-bottom: 28px;
    }
    #section-1 h4{
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        margin-bottom: 24px;
    }

    #section-1 button{
        padding: 12px;
        font-size: 12px;
        font-weight: 400;
        opacity: 0.6;
        letter-spacing: 1px;
    }
}

